@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #79cb15;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
}

button:hover{
    opacity: 0.8;
}

ul{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

li{
   border: 2px solid #8133ff;
    padding: 5px;
    border-radius: 10px;
}

img{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

p{
    color: #fff;
}   

.item-price{
    font-weight: bold;
    color: #79cb15;
}